.LeftHand {
  position: absolute;
  width: 8vh;
  top: 51.4vh;
  padding-right: 17vh;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}