
.Avatar {
  position: relative;
  display: flex;
  background-color: #fff;
  max-width: 80vh;
  min-width: 80vh;
  max-height: 80vh;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
  margin: auto;
}

Button {
  width: 5vh;
  height: 5vh;
  border: "8px solid #AF1FFF";
  border-radius: 50px;
}

